In [1]:
import pandas as pd
import os
import re

def files_to_dataframe(directory):
    all_data = pd.DataFrame([])
    for file in os.listdir(directory):
        try:
            df_read = pd.read_csv(directory+file, encoding="utf_8_sig")
            print(file, df_read.shape)
            # df_read.drop_duplicates(inplace=True)
            ##print(file, df_read.shape)
            all_data = pd.concat([all_data, df_read])
        except Exception as e:
            print(f"Error reading {file}: {e}")
    return all_data

In [2]:
# Example usage:
directory_path = 'C:\\programming_projects\\RAG_fine_tune\\web_crawl\\web_data\\'
df = files_to_dataframe(directory_path)
print( df.shape)
df.drop_duplicates(subset = ['depth', 'title', 'topic', 'word_count', 'char_count', 'page_text'], inplace=True)
print('drop dups page_text:', df.shape)
df.head()

Error reading asu-degree.csv: 'utf-8' codec can't decode byte 0xae in position 258522: invalid start byte
cleaned_ASU_webpage.csv (52153, 10)

KeyboardInterrupt:

In [12]:
def clean_text(text):
  """Keep only alphanumeric characters and basic punctuation."""
  text = re.sub(r"[^a-zA-Z0-9.!?\s]", ' ', str(text))
  text = re.sub(r'\s+', ' ', text).strip()
  return text

df['word_count'] = df['page_text'].apply(lambda x: len(str(x).split()))
df['char_count'] = df['page_text'].str.len()

df = df[df['word_count'] > 50]
print("word count", df.shape)

df = df.drop_duplicates(subset=['title', 'page_text'])
print('drop dups page_text:', df.shape)

# Apply the function to the DataFrame column
df['cleaned_text'] = df['page_text'].apply(clean_text)

# Remove all whitespace characters (including \r, \n, \t, \f, \v, and spaces)
df['cleaned_text'] = df['cleaned_text'].str.replace(r'\s+', ' ', regex=True).str.strip()

df = df.drop_duplicates(subset=['cleaned_text'])
print('drop dups cleaned_text:', df.shape)

df = df[(df['url'].isna() == False)]
print('URL can not be NA:', df.shape)

df['word_count'] = df['cleaned_text'].apply(lambda x: len(str(x).split()))
df['char_count'] = df['cleaned_text'].str.len()
df = df[df['word_count'] > 50]
print("word count", df.shape)

df['title'] = df['title'].apply(clean_text)
print(df.shape)
df = df.reset_index(drop = True)

word count (162467, 10)
drop dups page_text: (117646, 10)
drop dups cleaned_text: (110396, 10)
URL can not be NA: (110396, 10)
word count (110396, 10)
(110396, 10)

In [13]:
df.tail()

,url,depth,title,topic,word_count,char_count,page_text,filename,cleaned_text,langauage
110391,https://mastcamz.asu.edu/galleries/perseveranc...,6.0,Mastcam Z s First 360 Panorama! Sol 3 Mastcam Z,Research & Innovation at ASU,281,1727,[Note: The banner image here is a lower-resolu...,NaN,Note The banner image here is a lower resoluti...,en
110392,https://mastcamz.asu.edu/zoom-zoom/,6.0,Zoom Zoom! Mastcam Z,ASU's Commitment to Sustainability,1221,6903,2021-07-12 contributed byJim Bell We landed on...,NaN,2021 07 12 contributed byJim Bell We landed on...,en
110393,https://mastcamz.asu.edu/the-mastcam-z-filter-...,6.0,The Mastcam Z Filter Set How Perseverance Will...,ASU's Commitment to Sustainability,4820,28194,2021-02-14 ByEmily LakdawallaandMelissa Rice W...,NaN,2021 02 14 ByEmily LakdawallaandMelissa Rice W...,en
110394,https://mastcamz.asu.edu/galleries/mastcam-zs-...,6.0,Mastcam Z s First High Resolution 360 Mosaic! ...,Research & Innovation at ASU,532,3158,[Note: The banner image here is a lower-resolu...,NaN,Note The banner image here is a lower resoluti...,en
110395,https://mastcamz.asu.edu/galleries/van-zyl-ove...,6.0,Mastcam Z 360 Panorama 3 Van Zyl Overlook with...,Research & Innovation at ASU,536,3151,[Note: The banner image here is a 1/10 scale l...,NaN,Note The banner image here is a 1 10 scale low...,en

In [14]:
df.head()

,url,depth,title,topic,word_count,char_count,page_text,filename,cleaned_text,langauage
0,https://admission.asu.edu/undergrad/nondegree,1.0,Nondegree student Admission ASU,Admissions Application Process,93,548,Nondegree requirementsTo be eligible to take c...,webpage_analysis_run_10.csv,Nondegree requirementsTo be eligible to take c...,en
1,https://asuonline.asu.edu/admission/first-year/,1.0,First Year Students ASU Online,ASU s Global Online Education,55,325,ASU Online empowers first-year students to tak...,webpage_analysis_run_10.csv,ASU Online empowers first year students to tak...,en
2,https://bios.asu.edu/team-members/rebecca-garley/,6.0,Rebecca Garley BIOS,NaN,121,670,Becky received her BSc in Ocean and Earth Scie...,webpage_analysis_run_100.csv,Becky received her BSc in Ocean and Earth Scie...,en
3,https://bios.asu.edu/about-bios/team-members/b...,6.0,Dr. Brett Jameson BIOS,NaN,348,2351,Brett is a Postdoctoral Scientist in the Coral...,webpage_analysis_run_100.csv,Brett is a Postdoctoral Scientist in the Coral...,en
4,https://bios.asu.edu/about/team-members/rachel...,6.0,Rachel Parsons BIOS,NaN,624,4087,Rachel is a microbial oceanographer who invest...,webpage_analysis_run_100.csv,Rachel is a microbial oceanographer who invest...,en

In [15]:
df[df['langauage'].isna() == True]

,url,depth,title,topic,word_count,char_count,page_text,filename,cleaned_text,langauage
56171,https://math.la.asu.edu/~eric/msri/co2.dat,6.0,Untitled,NaN,108,647,1959 315.97\n1960 316.91\n1961 317.64\n1962 31...,NaN,1959 315.97 1960 316.91 1961 317.64 1962 318.4...,NaN
63008,https://legacy.askabiologist.asu.edu/serbian/A...,6.0,Ask A Biologist,NaN,82,206,1-РилицаУсни органи пчела налик на сламчицу ко...,NaN,1 . 2 . 3 . . 4 5 . .6 . 7 .8 . 9 . . .10 . . ...,NaN
63227,https://askabiologist.asu.edu/serbian/A%D0%BD%...,6.0,Ask A Biologist,NaN,95,219,1\n\t\t\t-\n\t\t\tРилица\n\t\t\t\n\t\t\tУсни о...,NaN,1 . 2 . 3 . . 4 5 . . 6 . 7 . 8 . 9 . . . 10 ....,NaN

In [7]:
from langdetect import detect, DetectorFactory
DetectorFactory.seed = 0

def lang_detect(text):
  text = re.sub(r'[^a-zA-Z0-9.,!?\s]', '', str(text))
  language_detected = detect(text)
  return language_detected


for i in range(0, len(df['langauage'])):
   if pd.isna(df.loc[i, 'langauage']):
      try:
         df.loc[i,'langauage'] = lang_detect(df['cleaned_text'].loc[i])
      except:
        print(i, '-', df['cleaned_text'].loc[i][0:20], '\n' )

60434 - 1959 315.97 1960 316

92017 - 1 . 2 . 3 . . 4 5 .

92879 - 1 . 2 . 3 . . 4 5 .

In [16]:
print(df.shape)

df_clean = df[df['langauage'] == 'en']
print("language", df_clean.shape)

df_clean.reset_index(drop=True, inplace=True)

(110396, 10)
language (103419, 10)

In [17]:
df_clean.to_csv('cleaned_ASU_webpage_04_07_2025.csv', index=False)

In [18]:
df_clean.head()

,url,depth,title,topic,word_count,char_count,page_text,filename,cleaned_text,langauage
0,https://admission.asu.edu/undergrad/nondegree,1.0,Nondegree student Admission ASU,Admissions Application Process,93,548,Nondegree requirementsTo be eligible to take c...,webpage_analysis_run_10.csv,Nondegree requirementsTo be eligible to take c...,en
1,https://asuonline.asu.edu/admission/first-year/,1.0,First Year Students ASU Online,ASU s Global Online Education,55,325,ASU Online empowers first-year students to tak...,webpage_analysis_run_10.csv,ASU Online empowers first year students to tak...,en
2,https://bios.asu.edu/team-members/rebecca-garley/,6.0,Rebecca Garley BIOS,NaN,121,670,Becky received her BSc in Ocean and Earth Scie...,webpage_analysis_run_100.csv,Becky received her BSc in Ocean and Earth Scie...,en
3,https://bios.asu.edu/about-bios/team-members/b...,6.0,Dr. Brett Jameson BIOS,NaN,348,2351,Brett is a Postdoctoral Scientist in the Coral...,webpage_analysis_run_100.csv,Brett is a Postdoctoral Scientist in the Coral...,en
4,https://bios.asu.edu/about/team-members/rachel...,6.0,Rachel Parsons BIOS,NaN,624,4087,Rachel is a microbial oceanographer who invest...,webpage_analysis_run_100.csv,Rachel is a microbial oceanographer who invest...,en

In [19]:
df_clean.tail()

,url,depth,title,topic,word_count,char_count,page_text,filename,cleaned_text,langauage
103414,https://mastcamz.asu.edu/galleries/perseveranc...,6.0,Mastcam Z s First 360 Panorama! Sol 3 Mastcam Z,Research & Innovation at ASU,281,1727,[Note: The banner image here is a lower-resolu...,NaN,Note The banner image here is a lower resoluti...,en
103415,https://mastcamz.asu.edu/zoom-zoom/,6.0,Zoom Zoom! Mastcam Z,ASU's Commitment to Sustainability,1221,6903,2021-07-12 contributed byJim Bell We landed on...,NaN,2021 07 12 contributed byJim Bell We landed on...,en
103416,https://mastcamz.asu.edu/the-mastcam-z-filter-...,6.0,The Mastcam Z Filter Set How Perseverance Will...,ASU's Commitment to Sustainability,4820,28194,2021-02-14 ByEmily LakdawallaandMelissa Rice W...,NaN,2021 02 14 ByEmily LakdawallaandMelissa Rice W...,en
103417,https://mastcamz.asu.edu/galleries/mastcam-zs-...,6.0,Mastcam Z s First High Resolution 360 Mosaic! ...,Research & Innovation at ASU,532,3158,[Note: The banner image here is a lower-resolu...,NaN,Note The banner image here is a lower resoluti...,en
103418,https://mastcamz.asu.edu/galleries/van-zyl-ove...,6.0,Mastcam Z 360 Panorama 3 Van Zyl Overlook with...,Research & Innovation at ASU,536,3151,[Note: The banner image here is a 1/10 scale l...,NaN,Note The banner image here is a 1 10 scale low...,en